include ./lib/header.jade
    title 2016 Bluegate & Herby 年会盛典
    link(href="/static/css/like.css",rel="stylesheet",type="text/css")
    script(language="javascript",src="/static/js/like.js")
body
    div.background
        div.title=""
        div.uploadPic
            div.showPic=""
            div.go-left=""
            div.go-right=""
            div.name=""
        div.buttonArea
            div.btn-area
                div.btn-left
                    button#like1(type="button")=""
                    div#like1-tickets.left-tickets=""
                div.btn-right
                    button#like2(type="button")=""
                    div#like2-tickets.left-tickets=""
        div.index=""
